
.container h1{
text-align: center;
padding-top: 50px;
}
input{
    display: block;
    margin: 15px auto;
    padding: 10px auto;
    width: 200px;
}
button{
    display: block;
    margin: 15px auto;
    padding: 10px auto;
    width: 100px;
}